<app-header></app-header>
<br>
<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <button mat-raised-button (click)="routeToDepartment()">Department</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Subjects</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Employee</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Students</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Building</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Machinary</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button >Calander</button>
    </mat-grid-tile>
  </mat-grid-list>