<app-header></app-header>
<mat-card class="input-filed" *ngIf="isLoading">
    <form (submit)="onNewDepartment(postForm)" #postForm="ngForm">
        <!-- <mat-form-field>
            <mat-label>College</mat-label>
            <mat-select name="collegeid" required ngModel>
              <mat-option *ngFor="let College of colleges" [value]="College.collegeId">
                {{College.collegeName}}
              </mat-option>
            </mat-select>        
        </mat-form-field> -->
        <br>
        <mat-form-field>
            <input matInput  type ="text" name="departmentid" placeholder="Department ID" required ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput  type ="text" name="departmentname"placeholder="Department Name" required ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput  type ="text" name="hodid"placeholder="HOD ID" required ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput  type ="email" name="departmentemail"placeholder="Department Email" required ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput  type ="password" name="departmentpassword"placeholder="Department Password" required ngModel>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" >Add Department</button>
        <br>
    </form>    
</mat-card>
<h1 *ngIf="!isLoading">Loading</h1>