<h1 style="text-align: center;">Homepage Content</h1>
<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <button mat-stroked-button color="primary">Assamese</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button color="primary">English</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button color="primary">Bengali</button>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink='contributorLogin'>Contributor</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary">Reading History</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary">Liked Books</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button (click)="logoutUser()" color="primary">Logout</button>
    </mat-grid-tile>
  </mat-grid-list>