<h1 style="text-align: center;">Homepage Content</h1>
<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile *ngFor="let language of languages">
        <button mat-stroked-button color="primary" (click)="routeForLanguages(language)">{{language.toUpperCase()}}</button>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink='contributorLogin'>Contributor</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="routeToReadingHistory()">Reading History</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary">Liked Books</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button (click)="displayLogoutCommand=true" color="primary">Logout</button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card  style="text-align: center;" *ngIf='displayLogoutCommand'>
      <p>
        Confirm Logout
      </p>
      <button mat-raised-button (click)="logoutUser()" color="primary">Yes</button>
      <button mat-raised-button (click)="displayLogoutCommand=false" color="primary">No</button>
  </mat-card>