<mat-toolbar color="primary">
    <button mat-flat-button color="primary" routerLink=''><h2>Home</h2></button>
</mat-toolbar>
<mat-card *ngIf="displayBookContents">
    <mat-card-title>
        <h2 style="text-align: center;">Books in {{bookLanguage}}</h2>
    </mat-card-title>
    <mat-accordion style="padding: 2%;">
        <mat-expansion-panel *ngFor="let book of books">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BookName:  {{book.bookName}}
                </mat-panel-title>
                <mat-panel-description>
                    BookID:  {{book.bookId}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
        <p><img src="http://talkbook.in:3000/BookCoverImages/{{book.coverImage}}"  height="150" width="150"></p>
        <p>BookLanguage:  {{book.bookLanguage}}</p>
        <p>Views: {{book.viewCount}}</p>
        <mat-action-row>
            <button mat-raised-button color="accent">Like Book</button>
            <button mat-raised-button color="primary" (click)="viewBookDetails(book.bookId)">View Book</button>
          </mat-action-row>
        </mat-expansion-panel>        
    </mat-accordion>
</mat-card>