<mat-toolbar color="primary">
    Contributor Dashboard
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayAddBookForm=true;displayListBookContents=false">
            Add Book
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="listBook()">
            List Books
        </button>
    </mat-grid-tile>
</mat-grid-list>
<mat-card *ngIf="displayAddBookForm" style="margin: auto;text-align: center;">
    <form (submit)="addBook(postForm)" #postForm="ngForm">
        <h3>Add Book Details</h3>
        <mat-form-field>
            <input matInput name="bookId" placeholder="Book id" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput name="bookName" placeholder="Book Name" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput name="bookLanguage" placeholder="Book Language" ngModel required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Submit</button><br><br>
        <button mat-raised-button color="primary" type="button"(click)="displayAddBookForm=false">Discard</button>
    </form>
</mat-card>
<mat-card *ngIf="displayListBookContents">
    <mat-card-title>
        <h2 style="text-align: center;">Contributions</h2>
    </mat-card-title>
    <mat-accordion style="padding: 2%;">
        <mat-expansion-panel *ngFor="let book of books">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{book.bookName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{book.bookId}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
        <p>{{book.bookLanguage}}</p>
        </mat-expansion-panel>        
    </mat-accordion>
</mat-card>