<mat-toolbar color="primary" style="text-align: center;">
    Login Page
</mat-toolbar>
<mat-card style="padding-left: 2%; text-align: center;">
    <br>
<form  (submit)="loginToUser(postForm)"#postForm="ngForm">
    <mat-form-field>
        <input matInput type="text" name="userId" placeholder="User Id" style="text-transform: uppercase;" required ngModel> 
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="password" name="userPassword" placeholder="Password" required ngModel> 
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Login</button> 
</form>
    <!-- <br>
    <button mat-raised-button color="primary" (click)="signUpUser()">Signup</button> -->
</mat-card>
<mat-card *ngIf='userIdCreated'>New user ID is:{{userIdCreated}}</mat-card>
<mat-card style="text-align: center">{{errorMessage}}</mat-card>