<app-header></app-header>
<br>
<mat-card>
    <mat-card-title>
        <h2>Departments</h2>
    </mat-card-title>
    <mat-accordion style="padding: 2%;">
        <mat-expansion-panel *ngFor="let dept of departments">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{dept.collegeid}}
                </mat-panel-title>
                <mat-panel-description>
                    {{dept.departmentid}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
        <p>{{dept.departmentname}}</p>
        </mat-expansion-panel>        
    </mat-accordion>
</mat-card>
<button mat-raised-button color="primary" (click)="addDepartment()">Add Department</button>