<mat-toolbar color="primary">
    <button mat-button routerLink='/contributorHomepage'><h2>Contributor Dashborad</h2></button>
    <span class="spacer"></span>
    Content for : {{bookId}}
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayAddGenre=true;displayParagraphBookForm=false; displayParagrapListForm=false;displayAddType=false">
            Add Genre
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayParagrapListForm=false;displayParagraphBookForm=false;displayAddGenre=false;displayAddType=true">
            Add Type
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayParagraphBookForm=true; displayParagrapListForm=false;displayAddGenre=false;displayAddType=false">
            Add Paragraphs
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayParagrapListForm=true;displayParagraphBookForm=false;displayAddGenre=false;displayAddType=false">
            List Paragraphs
        </button>
    </mat-grid-tile>
</mat-grid-list>

<mat-card *ngIf="displayParagraphBookForm" style="margin: auto;text-align: center;">
    <form (submit)="onSubmitParagraph(postForm)"  #postForm="ngForm">
        <h3>Add Paragraph Details</h3>
        <mat-form-field>
            <input matInput name="paragraphNumber" placeholder="Paragraph Number" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput name="paragraphTitle" placeholder="Paragraph Title" ngModel required>
        </mat-form-field>
        <br>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Paragraph Audio</button><br>
            <input type="file" #filePicker (change)="onAddAudio($event)">
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="disableSubmitButton">Submit</button><br><br>
        <button mat-raised-button color="primary" type="button"(click)="discardButton()">Discard</button>
    </form>
    <h3>Only audio files are supported</h3>
</mat-card>
<mat-card *ngIf="displayParagrapListForm" style="margin: auto;text-align: center;">
    <mat-card-title>
        <h2 style="text-align: center;">Paragraphs</h2>
    </mat-card-title>
    <mat-accordion style="padding: 2%;">
        <mat-expansion-panel *ngFor="let paragraph of paragraphs">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ParagraphName:  {{paragraph.paragraphTitle}}
                </mat-panel-title>
                <mat-panel-description>
                    ParagraphNumber:  {{paragraph.paragraphNumber}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
            <p><audio controls>
                <source src="http://talkbook.in:3000/AudioFiles/{{paragraph.paragraphLink}}">
              </audio>
            </p>
        </mat-expansion-panel>        
    </mat-accordion>
</mat-card>
<mat-card *ngIf='displayAddGenre'>
    <form (submit)="addGenre(postForm1)" #postForm1="ngForm">
        <mat-form-field>
            <mat-label>Genre 1</mat-label>
            <select matNativeControl name="bookGenre1" ngModel required>
                <option value="{{genre}}" *ngFor="let genre of genres">{{genre}}</option>
                </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Genre 2</mat-label>
            <select matNativeControl name="bookGenre2" ngModel required>
                <option value="{{genre}}" *ngFor="let genre of genres">{{genre}}</option>
                </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Genre 3</mat-label>
            <select matNativeControl name="bookGenre3" ngModel required>
                <option value="{{genre}}" *ngFor="let genre of genres">{{genre}}</option>
                </select>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit">Add Genre</button>
    </form>
</mat-card>
<mat-card *ngIf='displayAddType'>
    <form (submit)="addGenre(postForm1)" #postForm1="ngForm">
        <mat-form-field>
            <mat-label>Type 1</mat-label>
            <select matNativeControl name="bookType1" ngModel required>
                <option value="{{type}}" *ngFor="let type of types">{{type}}</option>
                </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type 2</mat-label>
            <select matNativeControl name="bookType2" ngModel required>
                <option value="{{type}}" *ngFor="let type of types">{{type}}</option>
                </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type 3</mat-label>
            <select matNativeControl name="bookType3" ngModel required>
                <option value="{{type}}" *ngFor="let type of types">{{type}}</option>
                </select>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit">Add Type</button>
    </form>
</mat-card>

