<mat-toolbar color="primary">Content for : {{bookId}}</mat-toolbar>
<mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="filePicker.click()">
            Add Paragraphs
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <input type="file" #filePicker>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" >
            List Paragraphs
        </button>
    </mat-grid-tile>
</mat-grid-list>
