<mat-toolbar color="primary">Content for : {{bookId}}</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="displayParagraphBookForm=true">
            Add Paragraphs
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary" >
            List Paragraphs
        </button>
    </mat-grid-tile>
</mat-grid-list>

<mat-card *ngIf="displayParagraphBookForm" style="margin: auto;text-align: center;">
    <form (submit)="onSubmitParagraph(postForm)"  #postForm="ngForm">
        <h3>Add Paragraph Details</h3>
        <mat-form-field>
            <input matInput name="paragraphNumber" placeholder="Paragraph Number" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput name="paragraphTitle" placeholder="Paragraph Title" ngModel required>
        </mat-form-field>
        <br>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Paragraph Audio</button><br>
            <input type="file" #filePicker (change)="onAddAudio($event)">
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="disableSubmitButton">Submit</button><br><br>
        <button mat-raised-button color="primary" type="button"(click)="displayParagraphBookForm=false">Discard</button>
    </form>
    <h3>Only files with extension mp3 and wav are supported</h3>
</mat-card>
