<mat-toolbar color="primary">Login
    <span class="spacer"></span>
    <button mat-flat-button (click)="routeToAddCollege()">Add College</button>
</mat-toolbar>
<br>
<mat-card style="padding-left: 2%;">
    <h2>Login to College</h2>
<form (submit)="onSubmit(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input matInput type="text" name="collegeId" placeholder="College Id" required ngModel> 
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" required ngModel> 
    </mat-form-field>
    <br>
    <button mat-mat-raised-button color="primary" type="submit">Login</button> 
</form>
</mat-card>
<app-department-login-page></app-department-login-page>
