<mat-toolbar color='primary'>Languages</mat-toolbar>
<mat-card style="margin: auto;text-align: center;">
        <form (submit)="addLanguage(postForm)"  #postForm="ngForm">
            <h3>Add Language</h3>
            <mat-form-field>
                <input matInput name="languageName" placeholder="Language Name" ngModel required>
            </mat-form-field>
            <br>
          <button mat-raised-button type="submit" color="primary">
            Add Language
        </button>
        </form>
    </mat-card>
    <mat-card style="margin: auto;text-align: center;">
        <button mat-raised-button color="primary" (click)="toggleLanguageList()">
            List Languages
        </button>
    </mat-card>
<mat-card style="margin: auto;text-align: center;" *ngIf='displayLanguageList'>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let language of languages">
            <mat-expansion-panel-header>
                {{language}}
            </mat-expansion-panel-header>
            <mat-action-row>
                <button mat-raised-button>Add Genre/types</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
